{{ define "main"}}
<article class="post">
  <header >
    {{ if .Params.sub_title}}
      {{ $full_title := printf "%s | %s" .Title .Params.sub_title }}
      {{ partial "title_bar.html" $full_title }}
    {{ else }}
      {{ $full_title := printf "%s" .Title}}
      {{ partial "title_bar.html" $full_title }}
    {{ end }}
    <p> By: <b>{{.Params.Author }}</b> <img class="w3-circle" src="{{ .Params.Author_image }}" alt="" width="48" height="48"></p>
    {{- $created := .Date.Format "January 2, 2006" -}}
    {{- $modified := .Lastmod.Format "January 2, 2006" -}}
    <p>Posted: <b>{{.Date.Format "January 2, 2006" }}</b>
      {{- if ne $created $modified }}| Modified: <b>{{.Lastmod.Format "January 2, 2006" }} {{- end }}</b></p>
    <p>
        {{ $reading_time := math.Round (div (countwords .Content) 175.0) }}
        
        Reading Time: <b>
        {{  if lt $reading_time 5 -}}
          <span style="font-size:smaller;"><</span>5
        {{ else }}
          {{ $reading_time }} 
        {{ end -}}
        minutes</b>
  
  
      </p>
  </header>
  <!--  -->
  <section class="body w3-container">
    <!--  -->
    {{ .Content }}
    <!--  -->
  </section>
</article>

{{ end }}
