<!-- <div>
  <div class="w3-row w3-padding w3-dark-grey">
    <div class="w3-col s3">
      <a href="/" class="w3-button w3-block w3-dark-grey">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="/posts" class="w3-button w3-block w3-dark-grey">Blog</a>
    </div>
    <div class="w3-col s3">
      <a href="/opensource" class="w3-button w3-block w3-dark-grey">open source</a>
    </div>
    <div class="w3-col s3">
      <a href="/about" class="w3-button w3-block w3-dark-grey">About</a>
    </div>
  </div>
</div> -->

<div class="nav-grid-container">
  <div class="nav-grid-item">
    <a href="/" class="w3-button wide-block">HOME</a>
  </div>
  <div class="nav-grid-item">
    <a href="/posts" class="w3-button wide-block">Blog</a>
  </div>
  <div class="nav-grid-item">
    <a href="/opensource" class="w3-button wide-block">open source</a>
  </div>
  <div class="nav-grid-item">
    <a href="/about" class="w3-button wide-block">About</a>
  </div>
</div>