<div>
  <div class="w3-row w3-padding w3-dark-grey">
    <div class="w3-col s1 w3-hide-small">
      &nbsp;
    </div>
    <div class="w3-col s2">
      <a href="/" class="w3-button w3-block w3-dark-grey">HOME</a>
    </div>
    <div class="w3-col s2">
      <a href="/posts" class="w3-button w3-block w3-dark-grey">Blog</a>
    </div>
    <div class="w3-col s2">
      <a href="/opensource" class="w3-button w3-block w3-dark-grey">open source</a>
    </div>
    <div class="w3-col s2">
      <a href="/about" class="w3-button w3-block w3-dark-grey">About</a>
    </div>
    <div class="w3-col s2">
      <a href="/resume" class="w3-button w3-block w3-dark-grey">Résumé</a>
    </div>
    <div class="w3-col s1 w3-hide-small">
      &nbsp;
    </div>
  </div>
</div>
<!-- <div>
  <div class="w3-row w3-padding w3-dark-grey">
    <div class="w3-col s2">
      <a href="/" class="w3-button w3-block w3-dark-grey">HOME</a>
    </div>
    <div class="w3-col s2">
      <a href="/posts" class="w3-button w3-block w3-dark-grey">Blog</a>
    </div>
    <div class="w3-col s2">
      <a href="/opensource" class="w3-button w3-block w3-dark-grey">open source</a>
    </div>
    <div class="w3-col s2">
      <a href="/about" class="w3-button w3-block w3-dark-grey">About</a>
    </div>
    <div class="w3-col s2">
      <a href="/contact" class="w3-button w3-block w3-dark-grey">Contact Me</a>
    </div>
    <div class="w3-col s2">
      <a href="/resume" class="w3-button w3-block w3-dark-grey">Résumé</a>
    </div>
  </div>
</div> -->