<div class="w3-col l3 m6 s12 w3-center" style="padding: 3px">
  <div class="w3-card-4">
    <div style="overflow: hidden; max-height: 100px;">
      <img
        src="{{ .Params.image | relURL }}"
        alt="{{ .Params.alt_text}}"
        style="width: 100%;"
      />
    </div>
      <!-- <img src="{{ .Params.image | relURL }}" alt="Alps" style="width: 100%" /> -->
      <div class="w3-container w3-center">
        <a href="{{ .RelPermalink }}"><h4>{{ .Title }}</h4></a>
        <p>{{ .Summary  | truncate 190 }}</p>
      </div>
  </div>
</div>
