<!-- Blog entry -->
<div class="w3-card-4 w3-margin w3-white ">
  <img
    src="{{ .Params.image | relURL }}"
    alt="{{ .Params.alt_text}}"
    style="width: 100%"
  />
  <div class="w3-container">
    <h3><b>{{ .Title }}</b></h3>
    <h5>
      Posted:
      <span class="w3-opacity">{{ .Date.Format "January 2, 2006"}}</span>
    </h5>
  </div>

  <div class="w3-container">
    <p>{{ .Summary }}</p>
    <div class="w3-row">
      <div class="w3-col m8 s12">
        <p>
          <button class="w3-button w3-padding-large w3-white w3-border">
            <a href="{{ .RelPermalink }}">
              <b> READ MORE » </b>
            </a>
          </button>
        </p>
      </div>
      <div class="w3-col m4 w3-hide-small">
        <p>
          <span class="w3-padding-large w3-right">
            <b>tags</b>
            {{ range .Params.tags}}
            <span class="w3-tag w3-green w3-round-large">
              <a href="/tags/{{ . | urlize }}" class="tag"> {{ . }}</a>
            </span>
            {{ end }}
          </span>
        </p>
      </div>
    </div>
  </div>
</div>
<hr />
